{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        reagent/reagent {:mvn/version "2.0.1"}
        thheller/shadow-cljs {:mvn/version "3.3.5"}}

 :aliases
 {:dev {:extra-paths ["dev"]}}}
