{:deps true
 :nrepl {:port 9000}

 :dev-http {8080 "public"}

 :builds
 {:dev
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn clump.core/init
                    :entries [clump.core]}}
   :devtools {:after-load clump.core/init}}

  :release
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn clump.core/init
                    :entries [clump.core]}}
   :compiler-options {:optimizations :advanced}}}}
