:root {
  --bg-dark: #000011;
  --text-light: #fcfcff;
  --card-bg: #fcfcff;
  --card-border: #c9c9cc;
  --selected: #ffff99;
  --highlight: #ccffcc;
  --selected-highlight: #e6ffb3;
  --red: rgb(153, 51, 51);
  --green: rgb(51, 153, 51);
  --blue: rgb(51, 51, 153);
  --golden-ratio: 1.618;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
}

.game {
  display: flex;
  flex-direction: column;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.controls button {
  margin: 0 0.25rem;
}

.board {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
}

@media (orientation: portrait) {
  .board {
    max-width: calc(25vh / var(--golden-ratio) * 3);
  }
}

.card-container {
  display: inline-block;
  height: calc(25vw / var(--golden-ratio));
  margin: 0;
  padding: 0.5vw;
  width: 25vw;
  perspective: 1000px;
}

@media (orientation: portrait) {
  .card-container {
    height: 25vh;
    padding: 0.5vw;
    width: calc(25vh / var(--golden-ratio));
  }
}

.card {
  display: inline-block;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
}

.card.flip {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.face {
  align-items: center;
  backface-visibility: hidden;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 5px;
  display: flex;
  height: 100%;
  inset: 0;
  justify-content: center;
  position: absolute;
  text-align: center;
}

@media (orientation: portrait) {
  .face {
    flex-flow: column;
  }
}

.face.back {
  transform: rotateY(180deg);
}

.face.front {
  z-index: 1;
}

.card.flip .face.front {
  z-index: 0;
}

.card.blank.flip .face.back {
  visibility: hidden;
}

.card.selected .face {
  background-color: var(--selected);
}

.card.highlight .face {
  background-color: var(--highlight);
}

.card.selected.highlight .face {
  background-color: var(--selected-highlight);
}

svg {
  height: calc(25vw / 4);
  padding: 0.3vw;
  width: calc(25vw / 4);
}

@media (orientation: portrait) {
  svg {
    height: calc(25vh / 4);
    padding: 0.3vh;
    width: calc(25vh / 4);
  }
}

.blank {
  visibility: hidden;
}

.red {
  fill: var(--red);
  stroke: var(--red);
  stroke-width: 10;
}

.green {
  fill: var(--green);
  stroke: var(--green);
  stroke-width: 10;
}

.blue {
  fill: var(--blue);
  stroke: var(--blue);
  stroke-width: 10;
}

.solid {
  fill-opacity: 1;
}

.striped {
  fill-opacity: 0.5;
}

.empty {
  fill-opacity: 0;
}
